@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-emerald-50 min-h-screen;
}

html {
  @apply scroll-smooth
}

/* Add this CSS to your stylesheet */
.markdown-content strong{
  @apply text-emerald-900
}

.markdown-content a {
  @apply underline text-blue-500
}

.edit-cont ol {
  @apply list-decimal !ml-12
}

.edit-cont ul {
  @apply list-disc !ml-12
}

.edit-cont a {
  @apply text-blue-500
}
